//Porting to GW2A18, Sipeed Tang Primer 20K

IO_LOC "mclk"           H11;
IO_LOC "rst_n"          C7;     //Key_5 on Tang Primer 20K dock

IO_PORT "mclk"          IO_TYPE=LVCMOS33;
IO_PORT "rst_n"         IO_TYPE=LVCMOS33;

IO_LOC "seg_out[0]"          N8;
IO_LOC "seg_out[1]"          L9;
IO_LOC "seg_out[2]"          N7;
IO_LOC "seg_out[3]"          N9;
IO_LOC "seg_out[4]"          D11;
IO_LOC "seg_out[5]"          N6;
IO_LOC "seg_out[6]"          C12;
IO_LOC "seg_out[7]"         B12;
IO_LOC "cc[1]"          A14;
IO_LOC "cc[2]"          B13;
IO_LOC "cc[3]"          A15;
IO_LOC "cc[4]"          B14;

IO_PORT "seg_out[0]"         IO_TYPE=LVCMOS33;
IO_PORT "seg_out[1]"         IO_TYPE=LVCMOS33;
IO_PORT "seg_out[2]"         IO_TYPE=LVCMOS33;
IO_PORT "seg_out[3]"         IO_TYPE=LVCMOS33;
IO_PORT "seg_out[4]"         IO_TYPE=LVCMOS33;
IO_PORT "seg_out[5]"         IO_TYPE=LVCMOS33;
IO_PORT "seg_out[6]"         IO_TYPE=LVCMOS33;
IO_PORT "seg_out[7]"        IO_TYPE=LVCMOS33;
IO_PORT "cc[1]"         IO_TYPE=LVCMOS33;
IO_PORT "cc[2]"         IO_TYPE=LVCMOS33;
IO_PORT "cc[3]"         IO_TYPE=LVCMOS33;
IO_PORT "cc[4]"         IO_TYPE=LVCMOS33;