//Porting to GW2A18, Sipeed Tang Primer 20K

IO_LOC "clk_in"         H11;
IO_LOC "erstn"          C7;     //Key_5 on Tang Primer 20K dock

IO_PORT "clk_in"        IO_TYPE=LVCMOS33;
IO_PORT "erstn"         IO_TYPE=LVCMOS33;

// 4-digit 7-seg (LED board in PMOD2/3), active-low segments, digit enable active-high
// LED SEG board on PMOD1+PMOD2 per actual wiring (top row J16..T12, bottom C12/B12)
IO_LOC "seg_out[0]"     J16;  // SEG_A
IO_LOC "seg_out[1]"     J14;  // SEG_B
IO_LOC "seg_out[2]"     M15;  // SEG_C
IO_LOC "seg_out[3]"     M14;  // SEG_D
IO_LOC "seg_out[4]"     R11;  // SEG_E
IO_LOC "seg_out[5]"     T12;  // SEG_F
IO_LOC "seg_out[6]"     C12;  // SEG_G
IO_LOC "seg_out[7]"     B12;  // SEG_DP
IO_LOC "dig_out[0]"     A14;
IO_LOC "dig_out[1]"     B13;
IO_LOC "dig_out[2]"     A15;
IO_LOC "dig_out[3]"     B14;

IO_PORT "seg_out[0]"    IO_TYPE=LVCMOS33;
IO_PORT "seg_out[1]"    IO_TYPE=LVCMOS33;
IO_PORT "seg_out[2]"    IO_TYPE=LVCMOS33;
IO_PORT "seg_out[3]"    IO_TYPE=LVCMOS33;
IO_PORT "seg_out[4]"    IO_TYPE=LVCMOS33;
IO_PORT "seg_out[5]"    IO_TYPE=LVCMOS33;
IO_PORT "seg_out[6]"    IO_TYPE=LVCMOS33;
IO_PORT "seg_out[7]"    IO_TYPE=LVCMOS33;
IO_PORT "dig_out[0]"    IO_TYPE=LVCMOS33;
IO_PORT "dig_out[1]"    IO_TYPE=LVCMOS33;
IO_PORT "dig_out[2]"    IO_TYPE=LVCMOS33;
IO_PORT "dig_out[3]"    IO_TYPE=LVCMOS33;


IO_LOC "gpio_in[16]"    T13;    //from BL702_UART1_TX
IO_LOC "gpio_out[17]"   M11;    //to BL702_UART1_RX

IO_PORT "gpio_in[16]"   IO_TYPE=LVCMOS33;
IO_PORT "gpio_out[17]"  IO_TYPE=LVCMOS33;


IO_LOC "tdo"            C6;
IO_LOC "tms"            B8;
IO_LOC "tck"            A7;
IO_LOC "tdi"            A6;

IO_PORT "tdo"           IO_TYPE=LVCMOS33;
IO_PORT "tms"           IO_TYPE=LVCMOS33;
IO_PORT "tck"           IO_TYPE=LVCMOS33;
IO_PORT "tdi"           IO_TYPE=LVCMOS33;

IO_PORT "tms"           PULL_MODE=UP;
IO_PORT "tck"           PULL_MODE=UP;
IO_PORT "tdi"           PULL_MODE=UP;
