//Porting to GW2A18, Sipeed Tang Primer 20K

IO_LOC "clk_in"         H11;
IO_LOC "rst_n"          C7;     //Key_5 on Tang Primer 20K dock

IO_PORT "clk_in"        IO_TYPE=LVCMOS33;
IO_PORT "rst_n"         IO_TYPE=LVCMOS33;

IO_LOC "seg_out[0]"          C12;//N8;
IO_LOC "seg_out[1]"          B12;//L9
IO_LOC "seg_out[2]"          A14;//N7;
IO_LOC "seg_out[3]"          B13;//N9;
IO_LOC "seg_out[4]"          A15;//D11;
IO_LOC "seg_out[5]"          B14;//N6;
IO_LOC "seg_out[6]"          J16;//C12;
IO_LOC "seg_out[7]"          J14;//B12;
IO_LOC "cc[0]"          M15;//A14;
IO_LOC "cc[1]"          M14;//B13;
IO_LOC "cc[2]"          R11;//A15;
IO_LOC "cc[3]"          T12;//B14;

IO_PORT "seg_out[0]"         IO_TYPE=LVCMOS33;
IO_PORT "seg_out[1]"         IO_TYPE=LVCMOS33;
IO_PORT "seg_out[2]"         IO_TYPE=LVCMOS33;
IO_PORT "seg_out[3]"         IO_TYPE=LVCMOS33;
IO_PORT "seg_out[4]"         IO_TYPE=LVCMOS33;
IO_PORT "seg_out[5]"         IO_TYPE=LVCMOS33;
IO_PORT "seg_out[6]"         IO_TYPE=LVCMOS33;
IO_PORT "seg_out[7]"        IO_TYPE=LVCMOS33;
IO_PORT "cc[0]"         IO_TYPE=LVCMOS33;
IO_PORT "cc[1]"         IO_TYPE=LVCMOS33;
IO_PORT "cc[2]"         IO_TYPE=LVCMOS33;
IO_PORT "cc[3]"         IO_TYPE=LVCMOS33;
